<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

</head>
<nav class="navbar navbar-inverse">
    <div class ="container-fluid">
    <!--Logo-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

        </button>
        <a class="navbar-brand" href="{% url 'recipe:index' %}">Food For Thought</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="">
                <a href="">
                    <span class="glyphicon glyphicon-cutlery"></span>&nbsp;
                    Recipes
                </a>
            </li>
            <li class="">
                <a href="{% url 'recipe:home'%}">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;
                    Home
                </a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'recipe:index' %}">
            <div class="form-group">
                <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                {% csrf_token %}
            </div>
            <button type="submit" class=btn btn-default">Search</button>
        </form>
        <ul class = "nav navbar-nav navbar-right">
            <li class="">
                <a href="{% url 'recipe:index' %}">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    Welcome, {{user}}
                </a>
            </li>
            <li class="">
                <a href="{% url 'recipe:search' %}">
                    <span class="glyphicon glyphicon-search"></span>&nbsp;
                    Search Recipes
                </a>
            </li>
            <li class="">
                <a href="{% url 'recipe:recipe-add'%}">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;
                    Add Recipe
                </a>
            </li>
            <li class="">
                <a href="{% url 'recipe:logout_user' %}">
                    <span class="glyphicon glyphicon-off"></span>&nbsp;
                    Log Out
                </a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<body style='background-color: white;'>
<h1><center>All My Recipes On Record</center></h1>
<ul>
    {% for recipe in all_recipes %}
    <div class = "col-sm-4 col-lg-2">
        <div class = "thumbnail">
         <img src = "{{recipe.RecipePicture.url}}"/>
    <h2>{{recipe.Name}}</h2>
     <a href="/recipe/{{ recipe.id }}" class="btn btn-primary btn-sm" role="button">View Details</a>
     <form action="{% url 'recipe:recipe-delete' recipe.id %}" method="post" style= "display: inline;">
     {% csrf_token %}
     <input type="hidden" name="recipe_id" value="{{recipe.id}}"/>
     <button type="submit" clas="btn btn-default btn-sm">
         <span class="glyphicon glyphicon-trash"></span>&nbsp;
     </button>

     </form>
    <form action="{% url 'recipe:recipe-update' recipe.id %}" method="post" style= "display: inline;">
     {% csrf_token %}
     <input type="hidden" name="recipe_id" value="{{recipe.id}}"/>
     <button type="submit" clas="btn btn-default btn-sm">
         <span class="glyphicon glyphicon-pencil"></span>&nbsp;
     </button>
     
     </form>
     </div>
     </div>
    {% endfor %}
</ul>
</body>